*{
  background-image: url('../img/maderauro.png');
}
/* Estilos para el contenido de cada bloque */
.content-block {
  text-align: center; /* Centrar el contenido */
  margin-top: 50px; /* Espacio superior */
  margin-bottom: 50px; /* Espacio inferior */
}

/* Estilos para las tarjetas */
.card {
  background-image: url('../img/maderauro.png');
  border:none;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

/* Estilos para el texto dentro de las tarjetas */
.card-body {
  font-weight: bold;
  padding: 20px; /* Espacio interno */
}

@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}
.imagenes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(30% - 10px); /* Restamos 10px para el margen */
  margin-bottom: 10px;
}
.scrolling-text {
  background-color: transparent;
  color: #90091d;
  margin-top: 300px;
  font-size: 36px;
  font-weight: bold;
  align-items: center;
  white-space: nowrap;
  animation: scroll 9s linear infinite;
}
/* Estilos para los títulos de las tarjetas */
.card h2 {
  color: black; /* Color del texto */
  font-weight: bolder;
}
/*estilos frase en movimiento*/

/* Estilos específicos de tu hoja de estilos */
body {
  color: black;
  font-family: "Advent Pro", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2::first-letter {
  font-size: 200%; /* Tamaño de la primera letra */
  font-weight: bold; /* Opcional: hacer la primera letra en negrita */
}

header,
footer {
  background-image: url('../img/maderauro.png');
  color: black;
  padding: 1em 0;
}

header {
  text-align: left;
}

footer {
  flex-shrink: 0;
  text-align: center;
  width: 100%;
  color: black;
  padding: 1em 0;
  margin-top: auto;
}

.main {
  margin-top: 2em;
}

img {
  max-width: 120%;
  height: auto;
}

h1,
h2 {
  margin: 0;
  padding: 0.5em 0;
}
.btn-custom {
  font-size: 18px;
  color: black;
  border: none;
  background-color: transparent;
}
.btn-custom:focus, .btn-custom:active {
  box-shadow: none;
  outline: none;
}

/* Estilos para la frase en movimiento */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
main{
  background-image: url('../img/maderauro.png');

}
.scrolling-text {
  color: #90091d;
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
  align-items: center;
  white-space: nowrap;
  animation: scroll 7s linear infinite;
  width: auto; /* Ajustar el ancho automáticamente */
  overflow-x: hidden; /* Evitar desplazamiento horizontal en dispositivos móviles */
}



/* Estilos para el footer */
.contact-info p {
  margin-right: 16px;
}

/* Estilos personalizados para los botones del navbar */
.navbar-nav .nav-link.btn-nav {
  background-image: url('../img/maderauro.png');
  color: #343a40;
  border: 1px solid transparent;
  margin: 0 5px;
  border-radius: 8px;
  border-color: #343a40;
  transition: background-color 0.3s, border-color 0.3s;
}

.navbar-nav .nav-link.btn-nav:hover,
.navbar-nav .nav-link.btn-nav:focus {
  background-color: #b4d7eb;
  color: #343a40;
  border-color: #343a40;
}

.navbar-nav .nav-link.btn-nav.active {
  background-color: #ebb8b4;
  color: #fff;
  border-color: #343a40;
}

.navbar-nav .nav-link.btn-nav:hover,
.navbar-nav .nav-link.btn-nav:focus,
.navbar-nav .nav-link.btn-nav.active {
  color: #fff;
}

.navbar-brand {
  color:black;
  font-weight: bold;
}
